<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  ~ Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
  ~
  ~ WSO2 Inc. licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except
  ~ in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied. See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<MobileDeviceMgtConfiguration>
    <ManagementRepository>
    <DataSourceConfigurations>
        <DataSourceConfiguration type="android">
            <JndiLookupDefinition>
                {% if mobile_conf.datasource.android.name is defined %}
                <Name>{{mobile_conf.datasource.android.name}}</Name>
                {% else %}
                <Name>jdbc/MobileAndroidDM_DS</Name>
                {% endif %}
            </JndiLookupDefinition>
        </DataSourceConfiguration>
    </DataSourceConfigurations>
    </ManagementRepository>
    <APIPublisher>
	<APIs>
        <!--todo remove this -->
        <API>
            <Name>appmanager</Name>
            <Owner>admin</Owner>
            <Context>/devices</Context>
            <Version>1.0.0</Version>
            <Endpoint>http://localhost:9763/test/app</Endpoint>
            <Transports>http,https</Transports>
        </API>
        <API>
            <Name>enrol</Name>
            <Owner>admin</Owner>
            <Context>/enroll</Context>
            <Version>1.0.0</Version>
            <Endpoint>http://localhost:9763/mdm-android-agent/enrollment</Endpoint>
            <Transports>http,https</Transports>
        </API>
        <API>
            <Name>license</Name>
            <Owner>admin</Owner>
            <Context>/license</Context>
            <Version>1.0.0</Version>
            <Endpoint>http://localhost:9763/mdm-android-agent/devices/license</Endpoint>
            <Transports>http,https</Transports>
        </API>
        <API>
            <Name>operation</Name>
            <Owner>admin</Owner>
            <Context>/operation</Context>
            <Version>1.0.0</Version>
            <Endpoint>http://localhost:9763/mdm-android-agent/operations</Endpoint>
            <Transports>http,https</Transports>
        </API>
	</APIs>
    </APIPublisher>
</MobileDeviceMgtConfiguration>
