<!--
  ~ Copyright (C) 2020. Entgra (Pvt) Ltd, https://entgra.io
  ~ All Rights Reserved.
  ~
  ~ Unauthorized copying/redistribution of this file, via any medium
  ~ is strictly prohibited.
  ~ Proprietary and confidential.
  ~
  ~ Licensed under the Entgra Commercial License,
  ~ Version 1.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  ~
  ~ You may obtain a copy of the License at
  ~ https://entgra.io/licenses/entgra-commercial/1.0
  -->

<datasources-configuration xmlns:svns="http://org.wso2.securevault/configuration">
	<providers>
		<provider>org.wso2.carbon.ndatasource.rdbms.RDBMSDataSourceReader</provider>
	</providers>

	<datasources>
		<datasource>
			<name>Android_DB</name>
			<description>The datasource used as the Android Device Management database</description>
			<jndiConfig>
				<name>jdbc/MobileAndroidDM_DS</name>
			</jndiConfig>
			<definition type="RDBMS">
				<configuration>
            {% if database.android is defined %}
                <url>{{database.android.url}}</url>
                <username>{{database.android.username}}</username>
                <password>{{database.android.password}}</password>
                <driverClassName>{{database.android.driver}}</driverClassName>
                <validationQuery>{{database.android.validationQuery}}</validationQuery>
                {% for property_name,property_value in database.android.pool_options.items() %}
                <{{property_name}}>{{property_value}}</{{property_name}}>
                {% endfor %}
            {% else %}
                <url>jdbc:h2:./repository/database/WSO2MobileAndroid_DB;DB_CLOSE_ON_EXIT=FALSE</url>
                <username>wso2carbon</username>
                <password>wso2carbon</password>
                <driverClassName>org.h2.Driver</driverClassName>
                <maxActive>50</maxActive>
                <maxWait>60000</maxWait>
                <testOnBorrow>true</testOnBorrow>
                <validationQuery>SELECT 1</validationQuery>
                <validationInterval>30000</validationInterval>
                {% endif %}
				</configuration>
			</definition>
		</datasource>
	</datasources>
</datasources-configuration>

